body {
    font-family: 'atari_classicchunky';
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

input[type="text"]{
    font-family: inherit;
}

input[type="password"]{
    font-family: inherit;
}

/* #jterminal { */
    /* font-family: inherit !important;  */
    /* font-size: 40em; */
/* } */

#console {
    background: #111;
    /* font-family:Khula; */
    /* /* font-size:1em; */
    text-align:left;
    width: 600px;
    color: white; 
    /* height:200px; */
    /* width:600px; */
    /* display:block; */
    /* position:absolute; */
    /* color:white; */
    /* top:0; */
    /* bottom:0; */
    /* left:0; */
    /* right:0; */
    /* margin:auto; */
}

/* #console-input {
    width: 100%;
    box-sizing : border-box;
    /* outline: none;
    border:none; */
    /* background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
} */

/* #console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
 } */ 