body {
    font-family: 'atari_classicchunky';
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

input[type="text"]{
    font-family: inherit;
}

input[type="password"]{
    font-family: inherit;
}

.terminal,
.terminal-output > :not(.raw),
.cmd {
    font-family: 'atari_classicchunky' !important;
    /*font-family: FreeMono, monospace; this don't work on Android */
    font-size: 12px;
    line-height: 15px;
}

#console {
    width: 600px;
    height: 400px;
    overflow: auto; 
    text-align:justify; 

}

