body {
    font-family: 'atari_classicchunky' !important;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

input[type="text"]{
    font-family: inherit;
}

input[type="password"]{
    font-family: inherit;
}

.terminal,
.terminal-output > :not(.raw),
.cmd {
    font-family: 'atari_classicchunky' !important;
    font-size: 12px;
    line-height: 15px;
}

/* #main {
    width: 1000px;
    margin: auto;
} */

#console {
    width: 600px;
    height: 400px;
    overflow: auto; 
    text-align:justify; 
}

#room_container {
    width: 1200px;
    margin: auto;
}

#chatbox_container {
    width: 600px;
    height: 400px;
    float: left !important;
}

#messages_container {
    height: 250px;
    overflow: auto;
    text-align: justify;
}

#new_message_form {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

#game_container {
    float: left;
}